{% extends 'base.html' %}
{% block title %}Solicitations{% endblock %}
{% block content %}
    <header class="parallax" style="background-image: url({{ request.user.cover }});">
        <div class="img-circle">
            <a href="{% url 'accounts:perfil' %}">
                <div class="container" style="padding: 100px!important;">
                    <img src="{{ request.user.picture }}" class="img-circle" alt="Cinque Terre" width="130"
                         height="130"/>
                </div>
            </a>
        </div>
    </header>
    <div class="container">
        <h1 style="padding-top: 80px">{{ request.user }}</h1>
    </div>
    <table class="table">
        {% for friend in list_friendships %}
            <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Situação</th>
                <th>Gerenciar</th>
            </tr>
            </thead>
            <tbody>
            {% for pagamento in pendentes %}
                <tr>
                    <td>{{ pagamento.data.ano }}/{{ pagamento.data.mes }}/{{ pagamento.dia }}</td>
                    <td>{{ pagamento.cliente.nome }}</td>
                    <td {% if pagamento.status == 'atrasado' %}class="alert-danger" {% endif %}>{{ pagamento.get_status_display }}
                        | {{ pagamento.valor|floatformat:2 }}</td>
                    <td>
                        <form action="{% url 'mensalidade_cliente' slug pagamento.cliente.cpf %}"
                              method="post">{% csrf_token %}
                            <button class="btn-mini btn-success">Gerenciar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endfor %}
{% endblock %}