{% extends "base.html" %}
{% block title %} Plain Pauge {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {% load static %}
    <header class="parallax" style="background-image: url({{ request.user.cover }});">
        <div class="img-circle">
            <a href="{% url 'accounts:perfil' %}">
                <div class="container" style="padding: 100px!important;">
                    <img src="{{ request.user.picture }}" class="img-circle" alt="Cinque Terre" width="130"
                         height="130"/>
                </div>
            </a>
        </div>
    </header>
    <div class="container">
        <h1 style="padding-top: 80px">{{ request.user }}</h1>
    </div>
    <div class="card col-sm-6 col-sm-offset-3" style="    background-color: aqua;">
        <div class="card-block">
            <div class="col-md-12">
                <h2 class="card-title" style="margin-bottom: 10px">Seus TOP MATCHES</h2>
                {#card_relação#}
                {% for match in matches %}
                   {% include 'score/match.html' %}
                {% endfor %}
                {#END card_relação#}
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
