{% extends "base.html" %}
{% block title %} Plain Pauge {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
{% load static %}
	<header class="parallax" style="background-image: url({{ request.user.cover }});">
		<div class="img-circle">
			<div class="container" style="padding: 100px!important;">
				<img src="{{ request.user.picture }}" class="img-circle" alt="Cinque Terre" width="130" height="130"/>
			</div>
		</div>
	</header>
	<div class="container">
		<h1 style="padding-top: 80px">{{ request.user }}</h1>
    </div>
    <div class="card col-sm-6 col-sm-offset-3" style="    background-color: aqua;">
        <div class="card-block">
            <div class="col-md-12" >
                <h2 class="card-title" style="margin-bottom: 10px">Seus TOP MATCHES</h2>
                {#card_relação#}
                {% for match in matches %}
                    <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12 col-xs-12">
                                <div class=" col-xs-12 col-md-3 text-center">
                                    <img src="{{ match.match.picture }}" alt="" class="img-circle img-responsive">
                                </div>
                            <div class="right col-xs-9 text-left">
                                <h1>{{ match.match.username }}</h1>
                                <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-building"></i> Address:</li>
                                </ul>
                          </div>
                        </div>
                        <div class="col-xs-6 bottom text-right">
                            <div class="text-left col-xs-12 col-sm-12 emphasis ">
                                 <td class="project_progress">
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" style="width: 72%;"></div>
                          </div>
                          <small>72% afinidade</small>
                        </td>
                            </div>
                        </div>
                        <div class="col-xs-6 bottom text-left">
                            <div class="text-right col-xs-12 col-sm-12 emphasis ">
                                <button type="button" class="btn btn-primary btn-xs">
                                    <i class="fa fa-user"> </i> Connect
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                {#END card_relação#}
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
