{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} Entrar {% endblock %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div>
        <div class="login_wrapper">
            <div>
                <section class="login_content">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form action="{% url 'oauth2' %}">
                        <button>ENTRAR COM FACEBOOK</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock body %}

