{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} Entrar {% endblock %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div>
        <div class="login_wrapper">
            <div>
                <section class="login_content">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <h1>Create Account</h1>
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">
                                    <div>
                                        {% render_field field class="form-control" placeholder=field.label %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div>
                            <button class="btn btn-default submit">Submit</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">Already a member ?
                                <a href="{% url 'login' %}" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock body %}

