{% load static %}
<header class="parallax" style="background-image: url({{ request.user.cover }});">
    <div class="img-circle">
        <div class="container" style="padding: 100px!important;">
            <img src="{{ request.user.picture }}" class="img-circle" alt="Cinque Terre" width="130" height="130"/>
            <a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-wrench" style="position: absolute; top: 190px;"></i></a>
        </div>
    </div>
</header>
{% include "accounts/perfil/modal_editar_img.html" %}