{% load static %}
<header class="parallax" style="background-image: url({{ request.user.cover }});">
    <div class="img-circle">
        <div class="container" style="padding: 100px!important;">
            <a href="{% if VOLTAR_URL %}{{ VOLTAR_URL }}{% else %}javascript:history.go(-1){% endif %}">
                <i class="fa fa-arrow-circle-left grow" style="font-size: 35px; position: absolute; top: 280px;"></i>
            </a>
            <img src="{{ request.user.picture }}" class="img-circle" alt="Cinque Terre" width="130" height="130"/>
            <a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-wrench" style="font-size: 28px; position: absolute; top: 280px;"></i></a>
        </div>
    </div>
</header>
{% include "accounts/perfil/modal_editar_img.html" %}