{% extends "base.html" %}
{% block title %} Plain Pauge {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
{% load static %}
    {% include "accounts/perfil/header_perfil.html" %}
    <div class="clearfix" style="margin-top: 20px; margin-bottom: 10px;"></div>
    <div class="row">
{#sobre mimm card#}
              {% include "accounts/perfil/sobre_mim.html" %}
    </div>
    <div class="clearfix" style="margin: 40px;"></div>
{# minhas preferencias#}
    {% include "accounts/perfil/minhas_preferencias.html" %}
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
