{% extends "base.html" %}
{% block title %} Plain Pauge {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
{% load static %}
	<header class="parallax" style="background-image: url({% static 'build/images/icon_boy.png'%});">
		<div class="img-circle">
			<div class="container" style="padding: 100px!important;">
				<img src="{% static 'build/images/icon_boy.png'%}" class="img-circle" alt="Cinque Terre" width="130" height="130"/>
                <i class="fa fa-wrench"></i>
			</div>
		</div>
        </div>
	</header>
	<div class="container">
		<h1 style="padding-top: 80px">Editar meu Perfil</h1>
    </div>
    <div class="card col-sm-8 col-sm-offset-2" style="    background-color: aqua;">
        <div class="card-block">
            <div class="col-md-12" >
                <h2 class="card-title" style="margin-bottom: 10px">Sobre mim</h2>
                {#card_relação#}
                <div class="col-md-12 col-sm-12 col-xs-12 profile_details">
                  <p></p>
                </div>
                {#END card_relação#}
            </div>
        </div>
    </div>

    <div class="card col-sm-6 col-sm-offset-3" style="    background-color: aqua;">
        <div class="card-block">
            <div class="col-md-12" >
                <h2 class="card-title" style="margin-bottom: 10px">Minhas preferências</h2>
                {#card_relação#}

                <div class="col-md-12 col-sm-12 col-xs-12 profile_details">

                </div>
                {#END card_relação#}
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
