<div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1" >
    <div class="x_panel">
      <div class="x_title">
        <h2>Sobre mim</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
            <a data-toggle="modal" data-target=".modal_editar_sobre"><i class="fa fa-wrench"></i></a>
            </li>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="text-align: center">
        <br />
        <h1>{{ request.user.name }}</h1>
        <p>{{ request.user.email }}</p>
      </div>
    </div>
    </div>
{% include "accounts/perfil/modal_editar_sobre.html" %}