<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
        {% load static %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        <title> Similars | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% include "partial/header.html" %}
        {% endblock stylesheets %}
        <!-- Custom Theme Style -->
        <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">
    {% endblock head %}
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
{% block body %}
    <div class="container">
        <div class="main_container">
            {% block top_navigation %}
                <div class="top_nav">
                    {% include "partial/top_navegation.html" %}
                </div>
            {% endblock top_navigation %}
{#            {%  block buttons_perfil %}#}
{#                <div class="img-circle">#}
{#                    <div class="container" style="padding: 100px!important;">#}
{#                        <a href="{% if VOLTAR_URL %}{{ VOLTAR_URL }}{% else %}javascript:history.go(-1){% endif %}">#}
{#                            <i class="fa fa-arrow-circle-left grow" style="font-size: 35px; position: absolute; top: 280px;"></i>#}
{#                        </a>#}
{#                        <a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-wrench" style="font-size: 28px; position: absolute; top: 280px;"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endblock buttons_perfil %}#}
            <div class="right_col" role="main">
                    <div class="clearfix"></div>
                    {% for message in messages %}
                        <div style="margin-top: 40px!important;">
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                    {% block content %}
                        <!-- {{ content }} -->
                    {% endblock content %}
                </div>
            </div>
{#            {% block footer %}#}
{#                <footer>#}
{#                    {% include "partial/footer.html" %}#}
{#                </footer>#}
{#            {% endblock footer %}#}
        </div>
    </div>
    {% block javascripts %}
         {% include "partial/scripts.html" %}
    {% endblock %}
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.js' %}"></script>
{% endblock body %}
</body>
</html>
